

.footerMargin{
  width: 80%;
}

.footerMenu{
  width: 85%;
  h1{
    text-transform: capitalize;
  }
  a{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    display: block;
    text-align: start;
  }
  .productBox{
    display: inline-block;
    text-align: center;
    
  }
  @media screen and(min-width: 576px){
    text-align: center;

  }

}

.footerSupport{
margin-top: 4rem;

  h1{
    text-transform: capitalize;
  }
  a{
    text-transform: capitalize;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-decoration: none;
    display: block;
    text-align: start;

  }
  .supportBox{
    display: inline-block;
    text-align: center;
  }
  @media screen and(min-width: 576px){
    text-align: center;
    margin-top: 0;
  }

}

.footerFollow{

  margin-top: 4rem;

  h1{
    text-transform: capitalize;
  }

  .icons{
    font-size: 40px;
    margin: 5px;
    text-decoration: none;
    color: white;
  }
  .followBox{
    display: inline-block;
    text-align: center;
    .some{
      text-align: start;
    }
  }

  @media screen and(min-width: 576px){
    text-align: center;
    margin-top: 4rem;

  }

  @media screen and(min-width: 992px){
    margin-top: 0;
    text-align: end;
  }
}

.footerLine{
  width: 80%;
  height: 2px;
  background-color: #707070;
  margin: auto;

  @media screen and(min-width: 992px){
    margin-top: 2rem;
    width: 85%;
  }
}

.copyright{
  width: 80%;
  margin: 1rem auto;
  text-transform: capitalize;
  @media screen and (min-width: 576px){
    margin-top: 5rem;
  }
}

.danmark{
  width: 80%;
  text-transform: uppercase;
  margin: auto;

  @media screen and (min-width: 576px){
    margin-top: 5rem;
    text-align: end;


  }
}