.herobillede {
  width:100%;
  height: 35vh;
  background:url(../Image/Replay-Hero-image.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.forsideline{
  margin: auto;
  background-color: var(--white-color);
  height: 1px;
  width: 15%;

}
.forside{
  background: var(--first-color);
  padding: 10px;
}
.forsideover{
  padding: 15px;
  font-size: 22px;
  color:var(--white-color);
  margin-bottom: 5px;
  text-align: center;
  font-family: var(--overskrift-font);
}
.forsidetekst{
  padding: 20px;
  line-height: 2.5;
  font-size: 14px;
  color:var(--white-color);
  margin-top: 5px;
  text-align: center;
  font-family: var(--tekst-font);
}

.anbefalinger{
  background: var(--first-color);
}

.anbefalingerover{
  padding: 15px;
  font-size: 22px;
  color:var(--white-color);
  margin-bottom: 5px;
  text-align: center;
  font-family: var(--overskrift-font);
}

.anbefalingerline{
  margin: auto;
  background-color: var(--white-color);
  height: 1px;
  width: 15%;
}
.anover{
  font-family: var(--overskrift-font);
}
.antekst{
  font-family: var(--tekst-font);
  font-size: 15px;
}
.anbtn{
  font-family: var(--tekst-font);
}


.sektion1{
  text-align: -webkit-center;
}
.ommigcon{
  margin-top: 50px;
  margin-bottom: 60px;
}
.ommigover{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  font-family: var(--overskrift-font);
}


.ommigtekst{
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  margin: 10px;
  line-height: 1.9;
  font-family: var(--tekst-font);

}

.serviceover{
  font-family: var(--overskrift-font);
  font-size: 22px;
}
.servicetekst{
  font-family: var(--tekst-font);
  font-size: 15px;
  line-height: 2;
}
.serviceikon{
  color: var(--first-color);
}

.card{
  background: var(--first-color)!important;
  border: 2px solid white!important;
}



.tårntekst{
  font-family: var(--tekst-font);
  font-size: 14px;
  margin: 0 0 20px ;
  line-height: 2.5;
  text-align: center;
}

.omtårnover{
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--overskrift-font);
}
.line{
  margin: auto;
  background-color: #abbdbf;
  height: 2px;
  width: 15%;
  text-align: center;
}



@media screen and (min-width: 768px ) {
  .anbefalingerline{
    width: 13%;
  }
  .ommigtekst{
    margin: 0;
    padding-top: 10px;
  }
  .ommigover{
    font-size: 30px;
    text-align: left;
  }
  .ommigunder{
    text-align: left;
  }

  .sektion2{
    padding-left: calc(var(--bs-gutter-x) / 0)!important;
  }
  .sektion1{
    padding-left: calc(var(--bs-gutter-x) / 0)!important;
  }

  .forsidetekst{
    width: 75%;
    margin: auto;
    font-size: 15px;
  }
  .tårntekst{
    width: 80%;
    margin: auto;
    font-size: 15px;
  }


}

@media screen and (min-width: 1024px ) {
  .forsidetekst{
    width: 50%;
  }
  .ommigtekst{
    font-size: 15px;
  }
  .ommigunder{
    font-size: 17px;
    text-align: left;
  }
  .ommigover{
    text-align: left;
  }
  .herobillede{
    height: 65vh;
  }
  .anbefalingerline{
    width: 7%;
  }
}




